body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: #f2f2f2;
}

header, footer, main, menu {
    display: block;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;
    position: fixed;
    width: 100%;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: right;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #00ccff;
}

ul.topnav li.left {
    float: left;
}

.active {
    background-color: #00ccff;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right, ul.topnav li {
        float: none;
    }
}

#secA {
    height: 100%;
}

.intro-header {
    padding-top: 50px;
    /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../images/background.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message>h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message>h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.section-heading {
    align-content: center;
}

.section-heading-spacer {
    float: left;
    width: 100%;
    border-top: 3px solid #e7e7e7;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: black;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #00ccff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.col-md4 {
    width: 25%;
    float: left;
}

.col-md8 {
    width: 71.8888%;
    float: right;
    margin-left: 3%;
}

.sector {
    float: left;
    width: 41.66666667%;
    padding-left: 3%;
}

.sector2 {
    margin-left: 8.33333333%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.imgQuien {
    float: right;
    width: 41.66666667%;
    margin-left: 13.66666667%;
}

.col-lg-5 {
    padding: 3%;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.content-section-a {
    padding: 50px 0;
}

.content-section-b {
    padding: 50px 0;
}

.content-section-c {
    padding: 40px 0;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #00ccff;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/00ccff_none.png');
    background-position: 10px 10px;
    background-size: 25px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 25%;
}

input[type=email] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #00ccff;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/email.png');
    background-position: 10px 10px;
    background-size: 25px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=email]:focus {
    width: 25%;
}

input[type=tel] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #00ccff;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/telephone.png');
    background-position: 10px 10px;
    background-size: 25px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=tel]:focus {
    width: 25%;
}

input[type=date] {
    width: 220px;
    box-sizing: border-box;
    border: 2px solid #00ccff;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/date.png');
    background-position: 10px 10px;
    background-size: 25px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=tel]:focus {
    width: 25%;
}

input[type=file] {
    width: 270px;
    box-sizing: border-box;
    border: 2px solid #00ccff;
    border-radius: 4px;
    font-size: 13px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: #00ccff;
}

textarea {
    width: 330px;
    box-sizing: border-box;
    border: 2px solid #00ccff;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/motivation.png');
    background-position: 10px 10px;
    background-size: 25px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

textarea:focus {
    width: 55%;
}

input.goals {
    background-image: url('../images/goals.png');
}

input.group{
  background-image: url('../images/group.png');
}

input.title{
  background-image: url('../images/activity.png');
}

input.place{
  background-image: url('../images/place.png');
}
textarea.resumen{
  background-image: url('../images/resumen.png');
}
textarea.description{
  background-image: url('../images/desc.png');
}

form {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: grey 2px solid;
    padding: 2%;
    margin: 3%;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

select {
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #00ccff;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
}

.btnAdd {
    width: 150px;
    font-size: 16px;
    background-color: #00ccff;
    border-radius: 5px;
    border: 1px white solid;
    margin-left: 40%;
}

.btnDelete {
    width: 150px;
    font-size: 16px;
    background-color: #C2185B;
    border-radius: 5px;
    border: 1px white solid;
    margin-left: 40%;
}

#newAct {
    margin-left: 7%;
}

.contenedor {
    padding: 5%;
    padding-left: 11%;
    border-radius: 8px;
    border: 1px solid #00ccff;
    background-color: rgba(255, 255, 255, 0.2);
}
